@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/Bebas Neue/BebasNeueRegular.eot?") format("eot"),
    url("../fonts/Bebas Neue/bebasneueregular.woff") format("woff"),
    url("../fonts/Bebas Neue/bebasneueregular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Black.eot?") format("eot"),
  url("../fonts/Lato/Lato-Black.woff") format("woff"),
  url("../fonts/Lato/Lato-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.eot?") format("eot"),
  url("../fonts/Lato/Lato-Regular.woff") format("woff"),
  url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open Sans/OpenSans-Light.eot?") format("eot"),
  url("../fonts/Open Sans/OpenSans-Light.woff") format("woff"),
  url("../fonts/Open Sans/OpenSans-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open Sans/OpenSans-Light.eot?") format("eot"),
  url("../fonts/Open Sans/OpenSans-Light.woff") format("woff"),
  url("../fonts/Open Sans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open Sans/OpenSans-LightItalic.eot?") format("eot"),
  url("../fonts/Open Sans/OpenSans-LightItalic.woff") format("woff"),
  url("../fonts/Open Sans/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  -moz-box-box-sizing: border-box;
}

.col {
  float: left;
  padding: 0 10px;
}

.col-1 {
  width: 8.333%;
}

.col-2 {
  width: 16.666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333%;
}

.col-5 {
  width: 41.666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333%;
}

.col-8 {
  width: 66.666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333%;
}

.col-11 {
  width: 91.666%;
}

.col-12 {
  width: 100%;
}

.right {
  float: right;
}
.center {
  float: none;
  margin: 0 auto;
}

.container {
  position: relative;

  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

body {
  min-width: 992px;
  margin: 0 auto;

  font: 400 normal 14px/20px "Open Sans", "Arial", sans-serif;
  color: #333333;
  word-wrap: break-word;

  background-color: #ffffff;
}

/*header begin*/
h1 {
  margin: 30px 0;

  font: 900 58px/60px "Lato", "Arial", sans-serif;
}

h2 {
  position: relative;

  margin-top: 0;
  margin-bottom: 85px;
  padding: 0 20px;

  font: 300 italic 40px/50px "Open Sans", "Arial", sans-serif;
  text-align: center;
}

h2::before,
h2::after {
  content: "";
  position: absolute;
  left: calc(50% - 56px);

  display: block;
  width: 112px;
  height: 3px;

  background-color: #dc0000;
}

h2::before {
  top: -24px;
}

h2::after {
  bottom: -24px;
}

h3 {
  margin: 28px 0 0;

  font: 900 30px/30px "Lato", "Arial", sans-serif;
  color: #dc0000;
  text-transform: uppercase;
}

.main-header {
  position: relative;

  width: 100%;
  height: 100vh;
  padding-top: 18px;

  line-height: 50px;

  background-color: #999ba0;
}

.btn {
  display: inline-block;
  width: 170px;
  margin-top: 30px;
  padding: 0 16px;

  font-weight: 900;
  font-size: 16px;
  line-height: 50px;
  vertical-align: top;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  text-decoration: none;

  border: 1px solid #333333;
}

.btn:hover {
  color: #ffffff;

  background-color: #333333;
}

.main-header .header-slider {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header-slider div {
  position: relative;

  width: 100%;
  height: 100%;

  background-image: url("../images/header-slider-img1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header-slider div:nth-child(2n) {
  background-image: url("../images/header-slider-img2.jpg");
}

.trend .slick-dots,
.header-slider .slick-dots {
  bottom: 5%;
  z-index: 2;
}

.trend .slick-dots li,
.header-slider .slick-dots li {
  width: 12px;
  height: 12px;
}

.trend .slick-dots li button,
.header-slider .slick-dots li button {
  width: 12px;
  height: 12px;

  background-color: #ffffff;
  border-radius: 50%;
}

.trend .slick-dots li button::before,
.header-slider .slick-dots li button::before {
  font-size: 0;
}

.header-slider li.slick-active button {
  background-color: transparent;
  box-shadow: 0 0 0 2px #ffffff;
}

.top {
  z-index: 1;
}

.header-top .logo {
  display: block;
  float: left;
}

.logo a {
  font: 400 normal 48px/58px "Bebas Neue";
  color: #dc0000;
  text-decoration: none;
}

.logo small {
  font-size: 36px;
}

.main-menu {
  float: right;
}

.main-menu-list {
  float: right;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-menu-item {
  display: inline-block;
  margin-right: 73px;

  vertical-align: baseline;
}

.main-menu-item:last-child {
  margin-right: 0;
}

.main-menu-item a {
  padding-bottom: 5px;

  font-size: 18px;
  line-height: 19px;
  color: #ffffff;
  text-decoration: none;
}
.main-menu-item .active,
.main-menu-item a:hover {
  border-bottom: 2px solid white;
}

.header-info {
  margin-top: calc(40vh - 160px);

  font-weight: 300;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.header-info .season {
  margin: 0;

  letter-spacing: 9px;
}

.header-info .btn {
  width: 200px;
  margin-top: 10px;
  padding: 20px;

  font: 900 18px/19px "Lato", "Arial", sans-serif;
  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.header-info .btn:hover {
  color: #000000;

  background-color: rgba(255,255,255,0.65);
  border-color: rgba(255,255,255,0.65);
}
/*header end*/

/*products begin*/
.products {
  padding: 82px 0 68px;
}

.row {
  font-size: 0;
}

.trend-slide-1,
.trend-slide-2 {
  margin-bottom: 50px;
}

.products-content-item {
  position: relative;

  display: inline-block;

  font-size: 14px;
  vertical-align: top;
}

.products-content-item img {
  display: block;
  width: 100%;
  height: auto;
}

.products-content-item p {
  position: absolute;
  top: 5%;
  left: 10%;

  width: 80%;
  height: 88%;
  margin: 0;
  padding: calc(50% - 20px) 0;

  font: 300 italic 40px/40px "Open Sans", "Arial", sans-serif;
  text-align: center;
  color: #ffffff;

  border: 3px solid #ffffff;
}

.row-2 {
  margin-top: 25px;
}

.row-2 p {
  top: calc(50% - 80px);
  left: 5%;

  width: 90%;
  height: 150px;
  max-height: 150px;
  padding: 0;

  font: 900 44px/52px "Lato", "Arial", sans-serif;

  border: none;
}

.row-2 .products-content-item:nth-child(2) {
  text-transform: uppercase;
}

.row-2 p::after,
.row-2 p::before {
  content: "";
  position: absolute;
  left: calc(50% - 96px);

  display: block;
  width: 192px;
  height: 1px;

  background-color: #ffffff;
}

.row-2 p::before {
  top: -20px;
}

.row-2 p::after {
  bottom: -20px;
}
/*products end*/

/*trend begin*/
.trend {
  padding: 82px 0 105px;

  background-color: #f4f4f4;
  background-image: url("../images/trend-bg.jpg");
  background-size: cover;
}

.trend p {
  font-size: 18px;
  line-height: 25px;
}

.trend .description {
  letter-spacing: 2.5px;
}

.trend .text {
  position: relative;

  margin-top: 25px;
  margin-bottom: 85px;

  font-family: "Lato", "Arial", sans-serif;
  color: #777777;
  letter-spacing: 1.5px;
  white-space: pre-line;
}

.trend .text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 30px;
  height: 1px;

  background-color: #000000;
}

.trend .big {
  text-transform: uppercase;
}

.trend img {
  display: block;
  width: 100%;
  height: auto;
}

.buttons,
.size-list {
  font-size: 0;
}

.size-list input[type=radio] {
  display: none;
}

.size-list-item {
  display: inline-block;
  float: left;
  width: 70px;
  margin-right: 30px;
  padding: 0 16px;

  font-weight: bold;
  font-size: 16px;
  line-height: 50px;
  vertical-align: top;
  text-align: center;
  text-transform: uppercase;

  border: 1px solid #333333;
  cursor: pointer;
}

.size-list label:last-child {
  margin-right: 0;
}

.size-list input:checked + label {
  color: #ffffff;

  background-color: #333333;
}

.buttons .btn:first-child {
  margin-right: 30px;
}

.trend .slick-dots {
  bottom: -14%;
}

.trend .slick-dots li button {
  background-color: #878787;
}

.trend li.slick-active button {
  background-color: transparent;
  box-shadow: 0 0 0 2px #dd0b0b;
}
/*trend end*/

/*blog begin*/
.blog {
  margin: 0px 15px;
  padding: 82px 0 65px;
}

.blog-slide-1,
.blog-slide-2 {
  margin-bottom: 50px;
}


.blog img {
  display: block;
  width: 100%;
  height: auto;
}

.blog .description {
  margin-top: 22px;

  font: 400 normal 16px/16px "Lato", "Arial", sans-serif;
}

.blog .text {
  margin-top: 30px;
  margin-bottom: 0;
  padding: 30px 0;

  font-weight: 300;
  font-size: 18px;
  line-height: 24px;

  border-top: 1px solid #ecf0f1;
  border-bottom: 1px solid #ecf0f1;
}

.blog .btn {
  vertical-align: text-bottom;
}

.blog .slick-arrow {
  width: 34px;
  height: 34px;

  border: 6px solid #c1c1c1;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.blog .slick-prev {
  border-right: none;
  border-bottom: none;
}

.blog .slick-next {
  border-top: none;
  border-left: none;
}

.blog .slick-prev:before,
.blog .slick-next:before {
  content: "";
}

/*blog end*/

/*subscribe begin*/
.subscribe {
  padding: 72px 0 75px;

  color: #ffffff;

  background: url("../images/subscribe-bg.jpg") no-repeat center center;
  background-color: #5a5c66;
  background-size: cover;
}

.subscribe h2 {
  display: none;
}

.subscribe label {
  display: block;
  margin-bottom: 30px;

  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  text-transform: uppercase;
}

.email {
  position: relative;
}

.email-field {
  display: block;
  width: 100%;
  height: 50px;
  margin-right: 0;
  padding: 18px 28px;
  padding-left: 82px;

  font-weight: 300;
  font-size: 13px;
  line-height: 13px;

  background-color: transparent;
  border: 1px solid #ffffff;
}

.email span {
  position: absolute;
  bottom: 16px;
  left: 36px;

  width: 20px;
  height: 16px;

  background: url("../images/icon-sprite.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.email-field::-webkit-input-placeholder {
  color: #ffffff;
  text-transform: uppercase;
}

.email-field::-moz-placeholder {
  color: #ffffff;
  text-transform: uppercase;

  opacity: 1;
}

.email-field:-ms-input-placeholder {
  color: #ffffff;
  text-transform: uppercase;
}

.email-submit {
  display: block;
  width: 100%;
  margin-top: 0;

  line-height: 46px;
  color: #000000;

  background-color: #ffffff;
  border-color: #ffffff;
}

.email-submit:hover {
  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 0 4px 4px #3a444f;
}
/*subscribe end*/

/*footer begin*/
.main-footer {
  padding: 68px 0;
}

.made-with-love {
  display: block;

  font: 400 normal 18px/24px "Lato", "Arial", sans-serif;
  text-align: center;
  color: #333333;
  text-decoration: none;
}

.made-with-love span {
  display: inline-block;
  width: 20px;
  height: 16px;

  vertical-align: middle;

  background: url("../images/icon-sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -16px;
}
/*footer end*/
